body {
    margin: 0;
    padding: 0;
    height: 130vh;
    background: #ffffff;
    background: linear-gradient(to bottom, #1e90ff, #d9eaff);
    font-family: poppins, sans-serif;
}


.logo-laurensia img {
    display: block;
    margin: 20px auto;
    width: 120px;   
    height: auto;
}


@keyframes colorcycle {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}


.text-judul-pemilihan {
    text-align: center;
    color: white;
    font-family: poppins, sans-serif;
}


.anggota {
    display: flex;
    justify-content: center;
    gap: 50px; 
    flex-wrap: wrap; 
    margin-top: 25px;
    text-align: center;
    color: white;
}


.anggota-1:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.08);
}


.anggota-2:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.08);
}


.anggota-3:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.08);
}


.Darrell {
    width: 150px;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;       
    border: 4px solid white; 
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}


.Jeane {
    width: 150px;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;       
    border: 4px solid white; 
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}


.Richardo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 50%;       
    border: 4px solid white; 
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}


.anggota-1 {
    width: 450px;
    object-fit:cover;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box; 
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 30px;
    opacity: 100%;
}

.anggota-1 p{
    text-align: left;
    margin-left: 20px;
}

.anggota ul{
    text-align: left;
}

.anggota li{
    align-items: left;  
    object-fit:cover;
}


.anggota-2{
    width: 450px;   
    object-fit:cover;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 30px;
    opacity: 100%;
}

.anggota-2 p{
    text-align: left;
    margin-left: 20px;
}


.anggota-3 {
    width: 450px;    
    object-fit:cover;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 30px;
    opacity: 100%;
}

.anggota-3 p{
    text-align: left;
    margin-left: 20px;
}


.buttonses {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    margin-top: 25px;
    text-align: center;
}

.tombol-1 {
  display: inline-block;
  font-weight: bold;
  padding: 12px 24px;
  border: 3px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.tombol-1:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.tombol-1:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #63a4d8;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.tombol-1:hover {
  color: #ffffff;
  border: 3px solid #4f4f4f;
}

.tombol-1:hover:before {
  top: -35%;
  background-color: #63a4d8;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.tombol-1:hover:after {
  top: -45%;
  background-color: #63a4d8;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Dikerjakan oleh Richardo, Darrell, Jeane */
